stages:
  - test

unit-test:
  stage: test
  image: node:16.14.2
  only:
    - develop
  before_script:
    - cd backend
    - '[ -f package-lock.json ] && rm package-lock.json'
    - yarn install
  script:
    - yarn test:report
  artifacts:
    when: always
    reports:
      junit:
        - backend/junit.xml
    expire_in: 1 week

coverage-test:
  stage: test
  image: node:16.14.2
  only:
    - develop
  before_script:
    - cd backend
    - '[ -f package-lock.json ] && rm package-lock.json'
    - yarn install
  script:
    - yarn test:cov
  artifacts:
    when: always
    reports:
      junit:
        - coverage/*
    expire_in: 1 week

sast-sonarqube:
  image: 
    name: sonarsource/sonar-scanner-cli:latest
    entrypoint: [""]
  only:
    - main
  stage: test
  environment: production
  variables:
    SONAR_USER_HOME: "${CI_PROJECT_DIR}/.sonar"
    GIT_DEPTH: "0"
  before_script:
    - cd ./deployment/pipeline
  cache:
    key: "${CI_JOB_NAME}"
    paths:
      - .sonar/cache
  script: 
    - sonar-scanner
  allow_failure: true