stages:
  - test

unit-test:
  stage: test
  image: node:16.14.2
  only:
    - main
  before_script:
    - cd backend
    - '[ -f package-lock.json ] && rm package-lock.json'
    - yarn install
  script:
    - yarn test

coverage-test:
  stage: test
  image: node:16.14.2
  needs: [unit-test]
  only:
    - main
  before_script:
    - cd backend
    - '[ -f package-lock.json ] && rm package-lock.json'
    - yarn install
  script:
    - yarn test:cov
  artifacts:
    paths:
      - build
    reports:
      junit: coverage/lcov.info
    expire_in: 30 min

sast-sonarqube:
  image: 
    name: sonarsource/sonar-scanner-cli:latest
    entrypoint: [""]
  only:
    - main
  stage: test
  needs: [coverage-test]
  environment: production
  variables:
    SONAR_USER_HOME: "${CI_PROJECT_DIR}/.sonar"
    GIT_DEPTH: "0"
  before_script:
    - cd ./deployment/pipeline
  cache:
    key: "${CI_JOB_NAME}"
    paths:
      - .sonar/cache
  script: 
    - ls
    - sonar-scanner
  allow_failure: true